body{
    background: #010001;
    margin: 0;
    padding-top: 53px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

::-webkit-scrollbar{
    width: 0px;
}

a, a:visited, a:hover{
    text-decoration: none;
}

ul {
    list-style: none;
}

.header {
    max-width: 1231px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.list {
    margin: 0;
    padding: 0;
    display: flex;
}

.main-nav .item-link {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 12px;
    line-height: 14px;
}

.secondary-nav .item-link {
    color: #808080;
    font-size: 12px;
    line-height: 14px;
    margin: 0 10px;
}

.main {
    text-align: center;
    padding-top: 120px;
    padding-bottom: 30px;
}

.main .title {
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 75px;
    margin-bottom: 26px;
    margin-top: 0px;
    z-index: 2;
}

.main .description {
    max-width: 268px;
    margin: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    z-index: 2;
}

.main .description::after {
    content: "";
    display: block;
    width: 1px;
    height: 60px;
    background: #ffffff;
    margin: auto;
    margin-top: 26px;
}

.video {
    height: 750px;
    max-width: 1231px;
    width: 90%;
    margin: auto;
    z-index: -2;
}

.features {
    position: relative;
    max-width: 1230px;
    width: 90%;
    margin: auto;
    padding: 100px 0;
    z-index: 2;
}

.features-title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 140%;
    /* or 34px */
    text-transform: uppercase;
    margin-bottom: 45px;
}

.first-column {
    width: 300px;
    padding: 7px 0;
    font-style: normal;
    font-size: 17px;
}

.overview table {
    margin-bottom: 218px;
}

.overview .description {
    max-width: 490px;
}

.rocket {
    position: absolute;
    top: 100vh;
    right: 0;
    z-index: -1;
    max-width: 300px;
}

.footer {
    max-width: 544px;
    bottom: 20px;
    margin: 10% auto; 
    display: flex;
    flex-direction: column;
}

.footer ul{
   justify-content: space-between;
   display: flex;
   margin: 43px 0px 30px 0px;
   padding: 0px;
}

.footer .footer-menu-link, .contact-button a, .footer .description{
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}

.footer .description{
    text-align: center;
    color: #808080;
    margin-bottom: 60px;
    margin-top: 0px;
}

.contact-button {
    text-align: center;
    width: 100%;
}

.contact-button a {
    padding: 20px 85px;
    border-radius: 5px;
    border: 1px solid white;
}

@media (max-width: 960px) {
    .rocket{
        max-width:100px;
    }
    .features{
        max-width: 200px;
    }
    .header{
        flex-direction: column;
        align-items: center;
    }
    .list{
        flex-direction: column;
        align-items: center;
    }
    .logo{
        margin: 0;
        padding: 0;
        padding-bottom: 10px;
    }
    .main-nav .item-link {
        margin: 0px auto;
        font-size:15px;
        line-height: 20px;  
    }

    .video{
        max-width: 100%;
    }
}